
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('../images/hero.jpg') center/cover no-repeat;
}

h1, h5, h4 {
    font-weight: bold;
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card:hover {
    /* transform: translateY(-10px); */
    transform : scale(1.03);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

footer {
    margin-top: 30px;
    background-color: #343a40;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
  }
  